@use "../util";

h1,
h2,
h3 {
  font-weight: bold;
  line-height: 1.1;
  margin-top: 0;
}

h1 {
  font-size: clamp(util.rem(28), 4.2vw, util.rem(42));
}

h2 {
  font-size: clamp(util.rem(22), 3.6vw, util.rem(36));
}

p {
  margin-top: 0;
  font-size: util.rem(16);
}

a,
a:visited,
a:active {
  text-decoration: none;
}
