@use "../util";

.grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  // max-width: 1000px;
  gap: util.rem(40);
  width: min(100% - util.rem(40), util.rem(1000));
  margin-inline: auto;

  @include util.breakpoint(tablet, up) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  &__main,
  &__sidebar {
    padding: util.rem(40);
  }

  &__main {
    // background-color: hsl(240, 100%, 27%);

    // @include util.breakpoint(tablet, up) {
    //   background-color: hsl(120, 100%, 17%);
    // }

    // @include util.breakpoint(desktop, up) {
    //   background-color: hsl(39, 100%, 31%);
    // }
  }

  &__sidebar {
    @include util.breakpoint(tablet, down) {
      text-align: center;
    }

    @include util.breakpoint(mobile, down) {
      text-align: right;
    }
  }

  &__widget {
    padding: util.rem(16);
  }
}
